@use "sass:math";
/* google fonts */

@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates:regular,500,600,700,800&display=swap");
/* null */

@import "_reset.scss";
@import "_mixins.scss";
@import "_variables.scss";

body {
   font-family: "Montserrat Alternates", sans-serif;
   background: url(../img/bg.avif) center / cover fixed no-repeat;
   color: var(--grey-99);
}
.wrapper {
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
   // background-color: var(--bg);
}
.wrapper > main {
   flex-grow: 1;
}
[class*="__container"] {
   max-width: toRem($containerWidth);
   padding-inline: toRem(math.div($containerPadding, 2));
   margin-inline: auto;
}
.page {
   width: 100%;
}
/* -------------HEADER-------------- */

// ----------Lesson 12 design

.wrapper {
   // .wrapper__container
   &__container {
      padding-block: toRem(50);
   }
}
.tasks {
   display: grid;
   // padding-block-start: toRem(50);
   // grid-template-columns: repeat(2, 1fr);
   grid-template-columns: 1fr;
   gap: toRem(30);
   // .tasks__first
   &__first,
   &__second,
   &__third {
      background-color: rgba(51, 51, 51, 0.6);
      padding: toRem(10);
      border-radius: toRem(8);
      justify-items: center;
      // display: grid;
   }
   &__a {
      padding-block-end: toRem(5);
      position: relative;
      transition: 0.8s;
      ::after {
         position: absolute;
         content: "";
         left: 0;
         bottom: 0;
         width: 100%;
         height: toRem(1);
         background-color: var(--colorButton);
         width: 0;
         // padding-block-end: toRem(5);
         transition: 0.8s;
      }
      :hover::after {
         width: 100%;
      }
   }
   // .tasks__header
   &__header {
      margin-block-end: toRem(10);
      font-size: toRem(20);
      h2 {
         color: var(--red-80);
         font-weight: 800;
      }
   }
   // .tasks__list
   &__list {
   }
   // .tasks__link
   &__link {
      margin-block-end: toRem(15);
      h3 {
         color: var(--colorButton);
         font-weight: 700;
         font-size: toRem(20);
         margin-block-end: toRem(10);
      }
   }
   // .tasks__text
   &__text {
      color: var(--colorTitle);
   }
}

// .tasks {
//    display: grid;
//    grid-template-columns: repeat(3, 1fr);
//    gap: toRem(20);
//    padding-block-start: toRem(50);
//    // .tasks__text
//    &__text {
//       font-size: toRem(20);
//    }
// }
// .tasks__link {
//    display: flex;
//    flex-direction: column;
//    row-gap: toRem(25);
//    justify-content: center;
//    color: var(--colorTitle);
//    background-color: var(--heroBorder);
//    padding: toRem(20);
//    aspect-ratio: 200/200;
//    transition: 0.3s;
//    letter-spacing: toRem(1.5);
//    will-change: transform;
//    border: toRem(1) solid var(--colorButton);
//    border-radius: toRem(15);
//    cursor: pointer;
//    h1 {
//       font-size: toRem(35);
//       letter-spacing: toRem(1.5);
//    }
//    h3 {
//       font-size: toRem(35);
//       letter-spacing: toRem(3);
//    }
//    img {
//       width: 100%;
//       object-fit: contain;
//       vertical-align: middle;
//    }
//    &:hover {
//       transform: scale(1.05);
//       transition: 0.3s;
//    }
// }

// .wrapper-00 {
//    background-color: var(--colorTitle);
//    // .wrapper-00__container
//    &__container {
//       color: var(--colorTitle);
//    }
// }
// .wrapper-06 {
//    padding-block-start: toRem(80);
//    // .wrapper-06__container
//    &__container {
//    }
// }
// .header {
//    padding-block-start: toRem(50);
//    margin: 0 auto;
//    &__title {
//       color: var(--red-50);
//       font-weight: 700;
//    }
// }

//TABLE
// table {
//    margin-top: 3.125rem;
//    margin-inline: auto;
//    table-layout: fixed;
//    max-width: 34.375rem;
//    border-collapse: collapse;
//    border: 0.0625rem solid var(--bg-02);
// }
// thead th {
//    width: 10%;
// }
// th,
// td {
//    padding: 1.25rem;
//    border: 0.0625rem solid var(--red-99);
//    text-align: center;
// }
