@use "sass:math";
/* google fonts */

@import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700&display=swap");

/* null */

@import "_reset.scss";
@import "_mixins.scss";
@import "_variables.scss";

body {
   font-family: var(--font-family);
}
.wrapper {
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
   background-color: var(--bg);
}
.wrapper > main {
   flex-grow: 1;
}
[class*="__container"] {
   max-width: toRem($containerWidth);
   padding-inline: toRem(math.div($containerPadding, 2));
   margin-inline: auto;
}
.page {
   width: 100%;
}
/* -------------HEADER-------------- */

.wrapper {
   // .wrapper__container
   &__container {
   }
}
.tasks {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: toRem(20);
   padding-block-start: toRem(50);
   // .tasks__text
   &__text {
      font-size: toRem(20);
   }
}
.tasks__link {
   display: flex;
   flex-direction: column;
   row-gap: toRem(25);
   justify-content: center;
   color: var(--colorTitle);
   background-color: var(--heroBorder);
   padding: toRem(20);
   aspect-ratio: 200/200;
   transition: 0.3s;
   letter-spacing: toRem(1.5);
   will-change: transform;
   border: toRem(1) solid var(--colorButton);
   border-radius: toRem(15);
   cursor: pointer;
   h1 {
      font-size: toRem(35);
      letter-spacing: toRem(1.5);
   }
   h3 {
      font-size: toRem(35);
      letter-spacing: toRem(3);
   }
   img {
      width: 100%;
      object-fit: contain;
      vertical-align: middle;
   }
   &:hover {
      transform: scale(1.05);
      transition: 0.3s;
   }
}

//task 00

.wrapper-00 {
   background-color: var(--colorTitle);
   // .wrapper-00__container
   &__container {
      color: var(--colorTitle);
   }
}

//TASK 06
.wrapper-06 {
   padding-block-start: toRem(80);
   // .wrapper-06__container
   &__container {
   }
}
