/* google fonts */
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700&display=swap");
/* null */
/*Null*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
          appearance: none;
}

:root {
  --colorTitle: #fff;
  --bg: #141414;
  --bg-02: #000;
  --menuBorder: #1f1f1f;
  --menuBg: #0f0f0f;
  --colorButton: #e50000;
  --mainText: #999;
  --secondaryText: #bfbfbf;
  --heroBorder: #262626;
  --scrollerColor: #333;
  --cardsBorder: #1a1a1a;
  --btnColor: #0b63f6;
  --btnColor-02: #003cc5;
  --font-family: "Manrope", sans-serif;
  --red-50: #f00;
  --red-55: #ff1a1a;
  --red-60: #f33;
  --red-80: #f99;
  --red-90: #fcc;
  --red-95: #ffe5e5;
  --red-99: #fffafa;
  --black-25: #404040;
  --black-30: #4d4d4d;
  --grey-65: #a6a6a6;
  --grey-70: #b3b3b3;
  --grey-90: #e4e4e7;
  --grey-95: #f1f1f3;
  --grey-97: #f7f7f8;
  --grey-99: #fcfcfd;
}

body {
  font-family: var(--font-family);
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
}

.wrapper > main {
  flex-grow: 1;
}

[class*=__container] {
  max-width: 76.875rem;
  padding-inline: 0.9375rem;
  margin-inline: auto;
}

.page {
  width: 100%;
}

/* -------------HEADER-------------- */
.tasks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  -webkit-padding-before: 3.125rem;
          padding-block-start: 3.125rem;
}
.tasks__text {
  font-size: 1.25rem;
}

.tasks__link {
  display: flex;
  flex-direction: column;
  row-gap: 1.5625rem;
  justify-content: center;
  color: var(--colorTitle);
  background-color: var(--heroBorder);
  padding: 1.25rem;
  aspect-ratio: 200/200;
  transition: 0.3s;
  letter-spacing: 0.09375rem;
  will-change: transform;
  border: 0.0625rem solid var(--colorButton);
  border-radius: 0.9375rem;
  cursor: pointer;
}
.tasks__link h1 {
  font-size: 2.1875rem;
  letter-spacing: 0.09375rem;
}
.tasks__link h3 {
  font-size: 2.1875rem;
  letter-spacing: 0.1875rem;
}
.tasks__link img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  vertical-align: middle;
}
.tasks__link:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  transition: 0.3s;
}

.wrapper-00 {
  background-color: var(--colorTitle);
}
.wrapper-00__container {
  color: var(--colorTitle);
}

table {
  margin-top: 3.125rem;
  margin-inline: auto;
  table-layout: fixed;
  max-width: 34.375rem;
  border-collapse: collapse;
  border: 0.0625rem solid var(--bg-02);
}

thead th {
  width: 10%;
}

th,
td {
  padding: 1.25rem;
  border: 0.0625rem solid var(--bg-02);
  text-align: center;
}

.wrapper-06 {
  -webkit-padding-before: 5rem;
          padding-block-start: 5rem;
}
.receipt {
  padding: 3.125rem;
  border: 0.0625rem solid var(--bg-02);
  max-width: 15.625rem;
  margin-inline: auto;
}
.receipt__items {
  padding: 1.25rem;
}